# retroSoC 开发环境配置
# 添加 RISC-V 工具链到 PATH
export PATH="$PATH:/home/timmo/ecos/embedded-sdk/tools/riscv/bin"

# # 设置工具链前缀环境变量
# export CROSS_COMPILE="riscv32-unknown-elf-"

# 设置项目根目录
export ECOS_HOME="/home/timmo/ecos/embedded-sdk"

# 设置工具链根目录
# export RISCV_TOOLCHAIN_ROOT="/home/timmo/ecos/ecos-embed-sdk/tools/riscv"

# export ECOS_HOME="/home/timmo/ecos/ecos-embed-sdk"
echo "retroSoC 开发环境已加载"
# echo "工具链路径: $RISCV_TOOLCHAIN_ROOT/bin"
# echo "交叉编译前缀: $CROSS_COMPILE"