*
*.*

!.gitignore
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README*.md
!.envrc

!src/
!src/**

!prog/
!prog/**

!docs/
!docs/**

!board
!board/**

!components
!components/**

!templates
!templates/**

!devices
!devices/**

!example 
!example/**

!bin/
!bin/**


!install.sh

!tools
!tools/fixdep
!tools/fixdep/**
!tools/kconfig
!tools/kconfig/**
!tools/scripts
!tools/scripts/**



