*
*.*

!.gitignore
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!README*.md
!.envrc

!src/
!src/**

!prog/
!prog/**

!docs/
!docs/**

!tools
!tools/fixdep
!tools/fixdep/**
!tools/kconfig
!tools/kconfig/**
!tools/setup_env.sh


